.sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
    border-right:2px solid #e5e5e5;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.logo-container {
    margin-bottom: 4rem;
}

.logo-container h1{
    margin-top: 1.3rem;
}
@media (max-width:768px) {
    .sidebar{
        position: static;
        width: 100%;
        height: auto;
        border: none;
        border-bottom:2px solid #e5e5e5;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .logo-container{
        margin-bottom: 1rem;
    }
}