.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    justify-content: center;
}
.card {
    margin: 20px;
    border:2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 220px;
}
.card-img{
    width: 13rem;
    margin-bottom: 1rem;
}
.card-title{
    margin-bottom:1rem;
    display: flex;
}
.rating-star {
    color:#d5ab55;
}
.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}
.card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bag-icon{
    color: #535353;
}
@media (max-width:768px) {
    .card-container{
        margin-left: 0;
        justify-content: center;
    }
    .card{
        width: 90%;
        max-width: 300px;
    }
    .card-img{
        width: 100%;
    }
}